<div class="container text-center mt-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="title fs-1 fst-italic mt-5">ー Elevate your English skill with Pictio Diary ー</div>
      <div class="fs-3 mt-5">「英語学習を楽しむ、あなただけの絵日記アプリ」</div>
      <div class="row mt-4">
        <p class="fs-5">Pictio Diaryは、英語で日記を書きながら自然な表現を学べる英語学習ツールです。<br>
        英語の日記を記録するだけでなく、AIによる英文添削機能と、キーワードからイメージ画像を生成する<br>
        AIアート機能を活用して、学びながら楽しく自分の絵日記を完成させましょう!</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
      <div class="title fs-1 fst-italic">ー How to ー</div>
        <%= image_tag 'home.jpg', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>