<div class="container text-center mt-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="title fs-1 fst-italic mt-5">ー Elevate your English skill with Pictio Diary ー</div>
      <div class="top_introduction fs-3 mt-5">「英語学習を楽しむ、<br>
      あなただけの絵日記アプリ」</div>
      <div class="row mt-4">
        <p class="fs-6">
        英語学習のアウトプットの機会、十分にありますか？
        </p>
        <p class="fs-6">
        Pictio Diaryは、英語で日記を書きながら自然な表現を学べる英語学習ツールです。<br>
        英語の日記を記録するだけでなく、AIによる英文添削機能と、キーワードからイメージ画像を生成する<br>
        AIアート機能を活用して、学びながら楽しく自分の絵日記を完成させましょう!
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="title fs-1 fst-italic">ー How to ー</div>
      </div>
      <div class="row justify-content-center align-items-center mt-5" style="background-color: #edeceae6;">
        <div class="col-md-6 mt-5">
          <p class="fs-6">
            マイページではカレンダーでいつ自分が日記を作成したかわかり継続が可視化されます<br>
            アイコンを押すとその日記の詳細が確認できます
         </p>
        </div>
        <div class="col-md-6">
        <%= image_tag 'home1.png', class: 'img-fluid' %>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <%= image_tag 'home2.png', class: 'img-fluid' %>
        </div>
        <div class="col-md-6">
          <p class="fs-6">
            日記作成時にキーワードを入力することで<br>
            画像生成が可能です。<br>
            暖かみのある絵日記風のテイストで作成されます。
          </p>
        </div>
      </div>

      <div class="row justify-content-center align-items-center" style="background-color: #edeceae6;">
        <div class="col-md-6">
          <p class="fs-6">
            英語学習のアウトプットの場十分ありますか？<br>
            このアプリなら、日常の出来事を絵と一緒せます！
          </p>
        </div>
        <div class="col-md-6">
        <%= image_tag 'home3.png', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>
</div>