<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto px-4 mt-5">
      <h2 class="diaries-title fst-italic">ー My Diaries ー</h2>
      
        <%= month_calendar(events: @diaries) do |date, diaries| %>
          <div class="day-container">
            <div class="date-number"><%= date.day %></div>
            <div class="icon-container">
              <% diaries.each do |diary| %>
                <% if diary.created_at.to_date == date %>
                  <%= link_to diary_path(diary) do %>
                    <i class="bi bi-journal-richtext" style="font-size: 1.2em; color: #5a5a5a;"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>    
      
    </main>
  </div>
</div>