<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
      <h2>Diaries</h2>
      
      <% if @diaries.present? %>
        <ul class="list-group">
          <% @diaries.each do |diary| %>
            <li class="list-group-item">
              <h5><%= diary.title %></h5>
              <p><%= truncate(diary.body, length: 100) %></p>
              <%= link_to '詳細を見る', diary_path(diary), class: 'btn btn-primary' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>日記はまだありません。</p>
      <% end %>
      
    </main>
  </div>
</div>